{% extends "base.html" %}
{#显示该登录用户的联系人列表#}
{% block sale_opportunity %}
    <form class="form-horizontal">
    <div class="btn-group" style="margin: 9px 0 5px;">
        <button id="sale_opportunity_btn" class="btn " data-toggle="modal">保存</button>
        <button id="cancel_opportunity_btn" class="btn" data-toggle="modal">取消</button>
    </div>
    <div class="accordion" id="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#basic_info">
                基本信息
            </a>
        </div>
        <div id="basic_info" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div id="basic_info" class="collapse in">
                    <div class="row">
                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">业务机会名称</label>

                                <div class="controls">
                                    <input type="text" placeholder="业务机会名称">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">所有人: </label>

                                <div class="controls">
                                    <label class="control-label" style="text-align : left">{{ username }}</label>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">项目编号: </label>

                                <div class="controls">
                                    <label class="control-label" style="text-align : left">No.123</label>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">客户名称</label>

                                <div class="controls">
                                    <select id="select_customer_name" class="input-block-level span3" name=customer_name>
                                        <option value="" disabled selected>请选择客户...</option>
                                        {% for item in customer_data %}
                                            <option>{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">阶段</label>

                                <div class="controls">
                                    <select class="input-block-level span3">
                                        <option value="" disabled selected>请选择阶段...</option>
                                        <option>1. 主观打算、主观计划</option>
                                        <option>2. 信息发现</option>
                                        <option>3. 立项</option>
                                        <option>4. 实质操作</option>
                                        <option>5. 投标及商务谈判</option>
                                        <option>6. 签单</option>
                                        <option>7. 丢标、弃标</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">联系人</label>

                                <div class="controls">
                                    <select id = "select_contact_name" class="input-block-level span3">
                                        <option value="" disabled selected>请选择联系人...</option>

                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">是否立项审批</label>

                                <div class="controls">
                                    <input type="checkbox">
                                </div>
                            </div>


                        </div>
                        <div class="span7">


                            <div class="control-group">
                                <label class="control-label" for="description">竞争对手分析</label>

                                <div class="controls">
                                    <textarea class="span6" rows="5"
                                              placeholder="该业务机会竞争对手分析"></textarea>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="description">推荐产品</label>

                                <div class="controls">
                                    <textarea class="span6" rows="5"
                                              placeholder="该业务机会推荐产品"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="description">客户决策链</label>

                                <div class="controls">
                                    <textarea class="span6" rows="5"
                                              placeholder="描写该业务机会客户决策链"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#    -----------------------------------------------------------------------------------------------------------#}
    <div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#project_info">
            项目信息
        </a>
    </div>
    <div id="project_info" class="accordion-body collapse in">
        <div class="accordion-inner">
            <div id="project_info" class="collapse in">


                <div class="row">
                    <div class="span5">
                        <div class="control-group">
                            <label class="control-label">预计销售额（万）</label>

                            <div class="controls">
                                <input type="text" placeholder="预计销售额（以万为单位）">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">预计招标日期</label>

                            <div class="controls">
                                <input type="text" class="datepicker" placeholder="预计招标日期">
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">预计毛利</label>

                            <div class="controls">
                                <input type="text" placeholder="预计毛利">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">签约时间</label>

                            <div class="controls">
                                <input type="text" class="datepicker" placeholder="签约时间">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">占年度目标比例</label>

                            <div class="controls">
                                <input type="text" placeholder="占年度目标比例">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">厂家支持率</label>

                            <div class="controls">
                                <input type="text" placeholder="厂家支持率">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">目前费用总和 </label>

                            <div class="controls">
                                <label class="control-label" style="text-align : left">12345</label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">是否报备</label>

                            <div class="controls">
                                <input type="checkbox">
                            </div>
                        </div>


                    </div>
                    <div class="span7">


                        <div class="control-group">
                            <label class="control-label" for="description">目前面临的问题</label>

                            <div class="controls">
                                <textarea class="span6" rows="5"
                                          placeholder="该业务机会目前面临的问题"></textarea>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="description">下一步工作计划</label>

                            <div class="controls">
                                <textarea class="span6" rows="1"
                                          placeholder="该业务机会下一步工作计划"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="description">资源需求</label>

                            <div class="controls">
                                <textarea class="span6" rows="5"
                                          placeholder="描写该业务机会资源需求"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="description">已处于本阶段几周</label>

                            <div class="controls">
                                <textarea class="span6" rows="1"
                                          placeholder="该业务机会已处于本阶段几周"></textarea>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="description">何时进入下一阶段</label>

                            <div class="controls">
                                <input type="text" class="datepicker" placeholder="何时进入下一阶段">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="description">赢率</label>

                            <div class="controls">
                                <textarea class="span6" rows="4"
                                          placeholder="赢率"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="description">备注</label>

                            <div class="controls">
                                <textarea class="span6" rows="3"
                                          placeholder="备注"></textarea>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    {#    <div id="project_info" class="accordion-body collapse">#}
    {#    <div class="accordion-inner">#}
    {#    <div id="project_info" class="collapse in">#}
    {#    <table class="cloudtab bianjibg" width="100%" border="0" cellpadding="0" cellspacing="0">#}
    {#        <tbody>#}
    {#        <tr>#}
    {#            <td class="labright">#}
    {#                预计销售额（以万为单位）#}
    {#            </td>#}
    {#            <td class="lableft">#}
    {#                <div class="requiredInput">#}
    {#                    <div class="requiredinfo"></div>#}
    {#                    <input type="text" size="20" maxlength="5" name="ffe201100003456bxpQG" id="ffe201100003456bxpQG"#}
    {#                           value="">#}
    {#                </div>#}
    {#            </td>#}
    {#            <td class="labright">#}
    {#                预计招标日期#}
    {#            </td>#}
    {#            <td class="lableft">#}
    {#                <div class="requiredInput">#}
    {#                    <div class="requiredinfo"></div>#}
    {#                    <input id="ffe201200849852jRum4" class="datepicker hasDatepicker" size="20" type="text"#}
    {#                           name="ffe201200849852jRum4" value=""></div>#}
    {#            </td>#}
    {#        </tr>#}
    {#        <tr>#}
    {#            <td class="labright">#}
    {#                预计毛利（以万为单位）#}
    {#            </td>#}
    {#            <td class="lableft">#}
    {#                <div class="requiredInput">#}
    {#                    <div class="requiredinfo"></div>#}
    {#                    <input type="text" size="20" maxlength="5" name="ffe201200499378gnl09" id="ffe201200499378gnl09"#}
    {#                           value=""></div>#}
    {##}
    {#            </td>#}
    {#            <td class="labright">#}
    {#                签约时间#}
    {#            </td>#}
    {#            <td class="lableft">#}
    {#                <div class="requiredInput">#}
    {#                    <div class="requiredinfo"></div>#}
    {#                    <input id="ffe201100003459P6VMA" class="datepicker hasDatepicker" size="20" type="text"#}
    {#                           name="ffe201100003459P6VMA" value=""></div>#}
    {#            </td>#}
    {##}
    {#        </tr>#}
    {##}
    {#        <tr>#}
    {##}
    {#            <td class="labright">#}
    {#                占年度目标比例#}
    {##}
    {#            </td>#}
    {#            <td class="lableft">#}
    {#                <div class="requiredInput">#}
    {#                    <div class="requiredinfo"></div>#}
    {#                    <input type="text" size="20" maxlength="3" name="ffe201310856120PO9sj" id="ffe201310856120PO9sj"#}
    {#                           value=""></div>#}
    {##}
    {#            </td>#}
    {##}
    {##}
    {#            <td class="labright">#}
    {#                厂家支持率#}
    {##}
    {#            </td>#}
    {#            <td class="lableft">#}
    {#                <div class="requiredInput">#}
    {#                    <div class="requiredinfo"></div>#}
    {#                    <input type="text" size="20" maxlength="50" name="ffe2012008497699k1vI" id="ffe2012008497699k1vI"#}
    {#                           value=""></div>#}
    {##}
    {#            </td>#}
    {##}
    {#        </tr>#}
    {##}
    {#        <tr>#}
    {##}
    {#            <td class="labright">#}
    {#                目前费用总和#}
    {##}
    {#            </td>#}
    {#            <td class="lableft">#}
    {#                &nbsp;#}
    {#                <input type="hidden" name="entity.strField20" id="ffe201200849919P7Vw8" value="">#}
    {##}
    {#            </td>#}
    {##}
    {##}
    {#            <td class="labright">#}
    {#                是否报备#}
    {##}
    {#            </td>#}
    {#            <td class="lableft">#}
    {#                <div class="requiredInput">#}
    {#                    <div class="requiredinfo"></div>#}
    {#                    <input type="checkbox" id="ffe201200849806Bjn3k" name="ffe201200849806Bjn3k"></div>#}
    {##}
    {#            </td>#}
    {##}
    {#        </tr>#}
    {##}
    {#        </tbody>#}
    {#    </table>#}
    {#    <table class="cloudtab bianjibg" width="100%" border="0" cellpadding="0" cellspacing="0">#}
    {#        <tbody>#}
    {##}
    {#        <tr>#}
    {#            <td class="labright ">#}
    {#                目前面临的问题#}
    {##}
    {#            </td>#}
    {#            <td class="lableft rematab" colspan="3">#}
    {##}
    {#                <div class="requiredInput">#}
    {#                    <div class="requiredinfo"></div>#}
    {#                    <textarea id="ffe201200850319N4fm5" name="ffe201200850319N4fm5" maxlength="4000" rows="5" cols="75"#}
    {#                              wrap="soft"></textarea></div>#}
    {##}
    {#            </td>#}
    {#        </tr>#}
    {##}
    {#        <tr>#}
    {#            <td class="labright ">#}
    {#                下一步工作计划#}
    {##}
    {#            </td>#}
    {#            <td class="lableft rematab" colspan="3">#}
    {##}
    {#                <div class="requiredInput">#}
    {#                    <div class="requiredinfo"></div>#}
    {#                    <input type="text" size="103" maxlength="255" name="ffe201100003448Pdf6g" id="ffe201100003448Pdf6g"#}
    {#                           value=""></div>#}
    {##}
    {#            </td>#}
    {#        </tr>#}
    {##}
    {#        <tr>#}
    {#            <td class="labright ">#}
    {#                资源需求#}
    {##}
    {#            </td>#}
    {#            <td class="lableft rematab" colspan="3">#}
    {##}
    {#                <div class="requiredInput">#}
    {#                    <div class="requiredinfo"></div>#}
    {#                    <textarea id="ffe201200849953xCa4y" name="ffe201200849953xCa4y" maxlength="4000" rows="5" cols="75"#}
    {#                              wrap="soft"></textarea></div>#}
    {##}
    {#            </td>#}
    {#        </tr>#}
    {##}
    {#        <tr>#}
    {#            <td class="labright ">#}
    {#                已处于本阶段几周#}
    {##}
    {#            </td>#}
    {#            <td class="lableft rematab" colspan="3">#}
    {##}
    {#                <div class="requiredInput">#}
    {#                    <div class="requiredinfo"></div>#}
    {#                    <input type="text" size="103" maxlength="50" name="ffe201200850342tvcyX" id="ffe201200850342tvcyX"#}
    {#                           value=""></div>#}
    {##}
    {#            </td>#}
    {#        </tr>#}
    {##}
    {#        <tr>#}
    {#            <td class="labright ">#}
    {#                何时进入下一阶段#}
    {##}
    {#            </td>#}
    {#            <td class="lableft rematab" colspan="3">#}
    {##}
    {#                <div class="requiredInput">#}
    {#                    <div class="requiredinfo"></div>#}
    {#                    <input id="ffe201200850356JsoZB" class="datepicker hasDatepicker" size="20" type="text"#}
    {#                           name="ffe201200850356JsoZB" value=""></div>#}
    {##}
    {#            </td>#}
    {#        </tr>#}
    {##}
    {#        <tr>#}
    {#            <td class="labright ">#}
    {#                赢率#}
    {##}
    {#            </td>#}
    {#            <td class="lableft rematab" colspan="3">#}
    {##}
    {#                <div class="requiredInput">#}
    {#                    <div class="requiredinfo"></div>#}
    {#                    <textarea id="ffe201310855159PXDhf" name="ffe201310855159PXDhf" maxlength="4000" rows="5" cols="75"#}
    {#                              wrap="soft"></textarea></div>#}
    {##}
    {#            </td>#}
    {#        </tr>#}
    {##}
    {#        <tr>#}
    {#            <td class="labright ">#}
    {#                备注#}
    {##}
    {#            </td>#}
    {#            <td class="lableft rematab" colspan="3">#}
    {##}
    {#                <textarea id="ffe201200850401JY1ZW" name="ffe201200850401JY1ZW" maxlength="4000" rows="5" cols="75"#}
    {#                          wrap="soft"></textarea>#}
    {##}
    {#            </td>#}
    {#        </tr>#}
    {##}
    {#        </tbody>#}
    {#    </table>#}
    {##}
    {#    </div>#}
    {#    </div>#}
    {#    </div>#}
    </div>
    </div>
    </form>
{% endblock %}