{% extends "base.html" %}
{#显示该业务机会列表，初始显示5项，有新建。#}
{#点击进入看明细，在明细中有编辑#}
{% block model_func %}

    <div class="btn-group" style="margin: 9px 0 5px;">
        <form style=" display:inline" class = "input-prepend" action="new_sale_opportunity/" method='post'>
            <input id="new_sale_opportunity_btn" class="btn" type="submit" value="新增业务机会">
        </form>
        <form style=" display:inline"  class = "input-append" action="edit_sale_opportunity/" method='post'>
            <input id="edit_sale_opportunity_btn" class="btn" type="submit" value="业务机会明细">
{#            在表单提交时把id传过去,在服务器进行渲染#}
            <input id="edit_sale_opportunity_id" type=text style="display:none" name=id>
        </form>
    </div>

    <table id='table_sale_opportunity' class="table  table-bordered table_sale_opportunity">
        <thead>
        <tr>
            <th>序号</th>
            <th>业务机会名称</th>
            <th>客户名称</th>
            <th>阶段</th>
            <th>预计销售额（以万为单位）</th>
            <th>签约时间</th>
        </tr>
        </thead>
        <tbody>
        {% for item in sale_opportunity_data %}
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.customer_name }}</td>
            <td>{{ item.phase }}</td>
            <td>{{ item.projected_sales }}</td>
            <td>{{ item.sign_time }}</td>
            </tr>
        {% endfor %}
{#            <td>{{ sale_opportunity_data.id }}</td>#}
{#            <td>{{ sale_opportunity_data.name }}</td>#}
{#            <td>{{ sale_opportunity_data.customer_name }}</td>#}
{#            <td>{{ sale_opportunity_data.phase }}</td>#}
{#            <td>{{ sale_opportunity_data.projected_sales }}</td>#}
{#            <td>{{ sale_opportunity_data.sign_time }}</td>#}
{#            </tr>#}
        </tbody>
    </table>
{% endblock %}