{% extends "base.html" %}
{#显示该用户的客户列表#}

{% block model_func %}
    <h2 class="form-signin-heading">客户列表</h2>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>序号</th>
            <th>客户名称</th>
            <th>行业</th>
            <th>电话</th>
            <th>地点</th>
            <th>费用累计</th>
            <th>所属人</th>
        </tr>
        </thead>

        <tbody>
        {% for item in customer_data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.name}}</td>
                <td>{{ item.kind}}</td>
                <td>{{ item.phone}}</td>
                <td>{{ item.address}}</td>
                <td>{{ item.budget}}</td>
                <td>{{ item.username}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}