{% extends "base.html" %}
{#显示该用户的客户列表#}

{% block model_func %}

    <div class="btn-group" style="margin: 9px 0 5px;">
        <button class="btn " data-toggle="modal" href="#new_customer">新增客户</button>
        <button id="edit_customer_btn" class="btn" data-toggle="modal" href="#edit_customer">编辑客户</button>
        <button class="btn" style="display:none">删除客户</button>
    </div>
    <div class="btn-group" style="margin: 9px 0 5px;">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="display:none">
            排序
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">名称</a></li>
            <li><a href="#">行业</a></li>
            <li><a href="#">电话</a></li>
            <li><a href="#">费用</a></li>
            <li><a href="#">联系人</a></li>
        </ul>
    </div>
    {#   为什么自定义js进行控制 table-striped table-hover都不好用了#}
    <table id='table_customer' class="table  table-bordered table_customer">
        <thead>
        <tr>
            <th>序号</th>
            <th>客户名称</th>
            <th>行业</th>
            <th>电话</th>
            <th>地点</th>
            <th>费用累计</th>
            <th>所属人</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        {% for item in customer_data %}
            {#            <td>{{ forloop.counter }}</td>#}
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.kind }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.budget }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#新增客户的表单#}
    <form class="form-signin new-contact" action="{% url "hycrm.views.new_customer" %}" method="post">
        <div id="new_customer" class="modal  hide fade" tabindex="-1" data-width="760">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>新增客户</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="form-group ">
                            <input class="input-block-level " type="text" name=name placeholder="客户名称">
                        </div>

                        <select class="input-block-level" name=kind placeholder="请选择行业...">
                            <option value="" disabled selected>请选择行业...</option>
                            <option>政府</option>
                            <option>运营商</option>
                            <option>金融</option>
                            <option>企业</option>
                            <option>厂商</option>
                            <option>集成商</option>
                            <option>陌生客户</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <input class="input-block-level" type="text" name=phone placeholder="电话">
                    </div>
                    <div class="form-group">
                        <input class="input-block-level" type="text" name=address placeholder="地点">
                    </div>
                    <div class="form-group">
                        <div class="form-group ">
                            <textarea class="input-block-level" rows="3" type="text" name=note
                                      placeholder="备注"></textarea>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" data-dismiss="modal" class="btn">取消</button>
                <button type="submit" class="btn btn-primary">保存</button>

            </div>
        </div>
    </form>
    {#修改客户的表单#}
    <form class="form-signin " action="{% url "hycrm.views.edit_customer" %}" method="post">
        <div id="edit_customer" class="modal  hide fade" tabindex="-1" data-width="760">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>编辑客户</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
{#                        隐藏并不可见#}
                        <input id="edit_customer_id" type=text style="display:none" name = id>
                        <div class="form-group ">
                            <input id="edit_customer_name" class="input-block-level " type="text" name=name
                                   placeholder="客户名称">
                        </div>
                        <div class="form-group">
                            <select id="edit_customer_kind" class="input-block-level" name=kind placeholder="请选择行业...">
                                <option value="" disabled selected>请选择行业...</option>
                                <option>政府</option>
                                <option>运营商</option>
                                <option>金融</option>
                                <option>企业</option>
                                <option>厂商</option>
                                <option>集成商</option>
                                <option>陌生客户</option>
                            </select>
                        </div>
                        <div class="form-group ">
                            <input id="edit_customer_phone" class="input-block-level" type="text" name=phone
                                   placeholder="电话">
                        </div>
                        <div class="form-group">
                            <input id="edit_customer_address" class="input-block-level" type="text" name=address
                                   placeholder="地点">
                        </div>
                        <div class="form-group ">
                            <textarea id="edit_customer_note" class="input-block-level" rows="3" type="text" name=note
                                      placeholder="备注"></textarea>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" data-dismiss="modal" class="btn">取消</button>
                <button type="submit" class="btn btn-primary">保存</button>

            </div>
        </div>
    </form>
{% endblock %}