<body>

<form id="form2" name="form2" method="post" action="bbs/logging.php?action=login&loginsubmit=yes">
    <div>
        用户名：
        <input type="text" name="username" id="username" class="input"/>
        <br/>
        密码：
        <input type="password" name="password" id="password" class="input"/>
    </div>
    <a href="http://www.baidu.com">
        <input name="" type="button" class="bnt-1" value="注 册"
                                          onclick="window.location= 'http://www.sohu.com' "/> </a>
    <a href="http://www.baidu.com"><input name="" type="submit" class="bnt-2" value="进 入 onclick="
                                          location.href='http://www.baidu.com'"" /></a>
</form>


</body>
</html>