.hover_click_sale_opportunity {
    background-color: #2f96b4;
}

.hover_move_sale_opportunity {
    background-color: #c4e3f3;
}

.table_sale_opportunity {
    cursor: pointer;
}
.modal-body{
    max-height: 800px;
}